<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Departmnet" parallel="tests" thread-count="6">
	<listeners>
		<listener class-name="test.Listeners" />
	</listeners>
	<parameter name="URL" value="https://www.udemy.com/" />
	<parameter name="APIKey/username" value="123456" />
	<test thread-count="5" name="Personal Loan">
		<classes>
			<class name="test.Test1" />
			<class name="test.Test2" />
			<class name="test.Test4">
				<methods>
					<include name="loginAPIHome"></include>
				</methods>
			</class>


		</classes>
	</test> <!-- Test -->
	<test name="Car Loan">
		<classes>
			<class name="test.Test3">
				<methods>
					<exclude name="mobile.*"></exclude>
				</methods>
			</class>

		</classes>

	</test>
</suite> <!-- Suite -->